body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  background: #3882F6;
  color: white;
  padding: 6px 24px;
  border-radius: 9px;
  border-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header {
  background: #1F2937;
  padding: 20px 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo, .links {
  display: flex;
  padding: 0px;
  gap: 28px;
}

.logo {
  font-size: 24px;
  color: aliceblue;
}

.links {
  font-size: 18px;
  color: aliceblue;
}

.section-1 {
  background: #1F2937;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 24px;
  padding: 40px 140px;
  gap: 48px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: aliceblue;
}

.hero-secondary {
  font-size: 18px;
  color: aliceblue;
  margin-bottom: 12px;
}

.image-container {
  color: aliceblue;
  background: #97a3b5;
  font-size: 12px;
  padding: 90px 110px;
  flex-shrink: 0;
}